@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h3 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

h3::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form {
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

input[type=text]{
    background-color: #f0f0f5;
    color: black;
}

input[type=email]{
    background-color: #f0f0f5;
    color: black;
}

input[type=tel]{
    background-color: #f0f0f5;
    color: black;
}

textarea[id=Coment]{
    background-color:#f0f0f5;
}

button[type=submit]{
    border-bottom: 1px solid black;
}















